---
import type { CollectionEntry } from "astro:content";
import Date from "../components/Date.astro";
import Base from "./Base.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, summary, date, lastmod, heroImage } = Astro.props;
---

<Base title={title} description={summary}>
  <article class="mt-[10vh] grid gap-4 p-5">
    {
      heroImage && (
        <div class="hero-image">
          <img width={1020} height={510} src={heroImage} alt="" />
        </div>
      )
    }

    <header class="title">
      <div class="date">
        <Date date={date} />
        {
          lastmod && (
            <div class="last-updated-on">
              Last updated on <Date date={lastmod} />
            </div>
          )
        }
      </div>
      {title && <h1 class="font-serif text-4xl">{title}</h1>}
    </header>
    <div
      class="mx-auto prose prose-img:rounded-lg prose-img:shadow-xl lg:prose-img:-mx-7 lg:prose-img:w-[calc(2*var(--spacing-7)+100%)] lg:prose-img:max-w-none"
    >
      <slot />
    </div>
  </article>
</Base>
